version: '3'

services:
  db:
    image: mysql:5.7
    ports:
    - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: xapo_db
  api:
    build: .
    ports:
    - "5000:5000"
    volumes:
    - .:/code
    depends_on:
    - db
