<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
      <link rel="stylesheet" href="/css/last.css">

    <title>Xapo Test Task</title>
  </head>
  <body>

    <div id="app" class="container">

        <h2>Request to '/api/v1/last/' [GET]</h2>
        <form id="form-id" @submit="processForm">
            <div class="form-group">
                <label for="currency">Currency</label>
                <input type="text"
                       class="form-control"
                       id="currency"
                       v-model="currency" >
            </div>
            <div class="form-group">
                <label for="number">Number</label>
                <input type="number"
                       class="form-control"
                       id="number"
                       v-model="number"
                       value="0">
            </div>
            <button id="btn-send-id" type="submit" class="btn btn-primary">Send request</button>
        </form>

        <br>

        <textarea id="results" rows="10" readonly>[[ info ]]</textarea>

    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="/js/vue-last.js"></script>
  </body>
</html>